.folder__c{
    text-align: start;
    span{
        font-size: 22px;
        background-color: azure 1;
    }
}
.icons__navigation{
    svg{
        padding-left: 40px;
        font-size: 30px;
        margin-right: 5px;
        cursor: pointer;
    }
}